@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes : light --default;
};
body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@plugin "daisyui/theme" {
  name : "light";
  default : true ;
  --color-primary : #CAEB66;
  --color-secondary : #03373D
  
}


/* Default navbar link style */
.nav-link {
  padding: 8px 16px;
  border-radius: 9999px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

/* Active link style (Figma: Lime background, bold, dark text) */
.nav-active {
  background-color: #CAEB66;
  color: #03373D;
  padding: 8px 16px;
  border-radius: 9999px;
  font-weight: 600;
}

